//fonts
$fontXS: 10px;
$fontS: 12px;
$fontM: 16px;
$fontL: 20px;
$fontXL: 24px;
$fontXXL: 28px;

//colors
$primary: #3F3F3F;
$secondary: #49485E;
$white: #FFFEFB;
$gray_1: #EEEEEE;
$gray_2: #B4B4B4;

//shadows
$box_shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

//borders
$border_radiusS: 4px;
$border_radiusM: 10px;

//dimensions
$distanceS: 16px;
$distanceM: 24px;
